    <h1>Handlebars sablonas</h1>
    <form method="GET" action="/client-submit">
        <label>Vardas:</label>
        <input type="text" name="vardas" placeholder="{{name}}"> <br />
        <label>Pavarde:</label>
        <input type="text" name="pavarde"> <br />
        <label>Adresas:</label>
        <input type="text" name="adresas"> <br />
        <label>Telefonas:</label>
        <input type="phone" name="telefonas"> <br />
        <label>El. pašto adresas:</label>
        <input type="email" name="elpastas" /> <br />
        <button type="submit">Siųsti</button>
    </form>
