<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit forma</title>
</head>
<body>
    <form method="GET" action="/client-submit">
        <label>Vardas:</label>
        <input type="text" name="vardas"> <br />
        <label>Pavarde:</label>
        <input type="text" name="pavarde"> <br />
        <label>Adresas:</label>
        <input type="text" name="adresas"> <br />
        <label>Telefonas:</label>
        <input type="phone" name="telefonas"> <br />
        <label>El. pašto adresas:</label>
        <input type="email" name="elpastas" /> <br />
        <button type="submit">Siųsti</button>
    </form>
</body>
</html>